<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


{{range .}}
    <h1>Hotel Name: {{.Name}}</h1>
    Address: {{.Address}} <br>
    City: {{.City}} <br>
    Zip: {{.Zip}} <br>
    Region: {{.Region}}<br>

{{end}}


</body>
</html>
