<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<h1> Academic year {{.AcaYear}}</h1>

<h2> Term: {{.Fall.Term}}</h2>
{{range .Fall.Courses}}
<h3> {{.Number}} - {{.Name}} - {{.Units}} </h3>
{{end}}
<h2> Term: {{.Spring.Term}}</h2>
{{range .Spring.Courses}}
<h3> {{.Number}} - {{.Name}} - {{.Units}} </h3>
{{end}}
<h2> Term: {{.Summer.Term}}</h2>
{{range .Summer.Courses}}
<h3> {{.Number}} - {{.Name}} - {{.Units}} </h3>
{{end}}

{{end}}

</body>
</html>